* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: none;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: red;
  color: black;
}
:root {
  --color--bg: #1E1E2E;
  --color--bg--variant: #4A90E2;
  --color--primary: #FFB400;
  --color--primary--variant: #F5F5DC;
  --color--white: white;
  --color--light: #106194;
  --transition: 0.3s;

  --container--width-lg: 75%;
  --container--width-md: 85%;
  --container--width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color--white);
  background-color: var(--color--bg);
}

/* =============== *General style =============== */
.container {
  width: var(--container--width-lg);
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-align: center;
  display: flex;
}

h1 {
  font-size: 2.5rem;
}
section {
  margin-top: 8rem;
  height: 100vh;
}
section > h2,
section > h5 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color--light);
}
section > h2 {
  color: var(--color--primary);
}
section > h5 {
  color: var(--color--white);
}
/* =============== *
Navbar =============== */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

text-light {
  color: var(--color--white);
  transition: all var(--transection--time);
}
a {
  color: var(--color--white);
  transition: var(--transection--time);
}

a:hover {
  color: var(--color--primary);
}
.btn {
  padding: 0.9rem 1rem;
  border-radius: 0.5rem;
  background-color: var(--color--primary);
  color: var(--color--white);
  transition: var(--transection--time);
  display: inline-block;
  cursor: pointer;
  border: 1px solid var(--color--primary);
}
.btn:hover {
  background-color: var(--color--white);
  color: var(--color--primary);
  border-color: transparent;
}

.btn--primary {
  background-color: var(--color--primary);
  color: var(--color--white);
  border: 1px solid var(--color--primary);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  width: 100%;
  object-fit: cover;
}
/* =============== media queries (small divices) =============== */
@media screen and (max-width: 768px) {
  .container {
    width: var(--container--width-sm);
  }
  section > h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
/* ****************media querires  */
@media screen and (max-width: 600px) {
  .container
    {
      width: var(--container--width-sm);
    }
  section h2 {
    margin-bottom: 2rem;
  }
}
